body {
    background-color: lavender;
    height: 100vh
}

.authPage{
    background-color: darkslategray;
    height: 100vh
}

.card {
    background-color: lightcoral;
}

.navContainer {
    border-bottom: 7px groove lightgray;
}

.blushDiv {
    background-color: lavender;
}
