body {
    background-color: lavender;
    height: 100vh
}

.authPage{
    background-color: lavenderblush;
    height: 100vh
}

.card {
    background-color: ivory;
}

.navContainer {
    border-bottom: 7px groove lightgray;
}

.blushDiv {
    background-color: lavender;
}

.authImg {
    height: 100px;
}

.spacerDiv{
    height:100px
}

.linkText{
    color: white
}